/* EHM Custom SCSS */
/*colors */
/* Override Debeautify Theme CSS */
.section-description .wrapper {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }

#productDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* CB Custom CSS */
.fullCb {
  width: 100%; }

.sectionCb {
  padding-top: 40px;
  padding-bottom: 40px; }

.descriptionWrapCb {
  background-color: #f1e0d9; }

.descriptionInnerCb {
  width: 800px;
  margin: auto;
  font-size: 18px; }

.descriptionTextCb {
  text-align: left; }
